<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take meal photos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for voice dictation</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo library access</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save meal photos to your photo library.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition for voice notes</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>CFBundleDisplayName</key>
	<string>Aurtsy</string>
	<key>CFBundleIdentifier</key>
	<string>com.aurtsy.app</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
